<section class="Ukraine-confidential mint-only">
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="navigation">
                <!-- <button  class="prev_mint" (click)="changeImage('prev')"><i class="fa-solid fa-caret-left" style="color: grey"></i></button>
                <img src="{{ mint_nft[currentImage]?.nft_image}}" alt="" class="mint-img">
                <button class="next_mint" (click)="changeImage('next')"><i class="fa-solid fa-caret-right" style="color: grey"></i></button> -->
              </div>
              <img src="assets/images/mint/minting.gif" alt="" class="mint-img">
            <p class="mint-p1">
                Remaining  &nbsp;  &nbsp; NA
           </p>
           <p class="price-p">
            Price XYZ ETH + Gas
           </p>
           <p class="quantity-p">
            Quantity:  <input class="mintNum" type="number" width="30px" placeholder="10">
           </p>
           <div class="mtBtn">
           <button class="mint" type="submit" style="color: #111;border-radius: 8px;">MINT NOW</button>
           </div>
        </div>
        <div class="col-lg-9 mintDES">
            <h1 class="Whitelist">Mint is not available yet</h1>
            <p>{{mint_nft[currentImage]?.title}} <span style="color: red;"> CLOSING IN :NA DAYS</span></p>
            <p>MAX 10 NFTS PER TX</p>
            <p>PRICE: NA ETH + GAS</p>
        </div>
    </div>
</div>
</section>