<section class="footer-div">
  <div class="container">
    <!-- <div class="row phone-align">
            <div class="col-lg-12">
                <div class="footerlink">
                    <img class="logo-footer" src="assets/images/logo.png" alt="">
                    <ul class="FooterLinkUL">
                        <li><a href="https://medium.com/@ukraineconfidential" target="_blank">Blog</a></li>
                        <li><a href="https://ypapty.notion.site/UC-Whitepaper-2df236c50a104a8ea6f07a12d3d76f9c" target="_blank">Concordia Consensus-White Paper</a></li>
                        <li><a href="JavaScript:void(0)">info@ukraineconfidential.com</a></li>
                        <li><a href="https://ypapty.notion.site/UC-Terms-Conditions-9e063a6e08444972a9c28e9ae2001b2f" target="_blank">Terms & Conditions</a></li>
                    </ul>
                    <ul class="FooterLinkUl1">
                        <li><a href="http://www.facebook.com/groups/ukraineconfidential/"><img src="assets/images/facebook23.png" alt=""></a></li>
                        <li><a href="https://www.instagram.com/ukraineconfidential/"><img src="assets/images/social-1.svg" alt="" style="width: 50px !important;"></a></li>
                        <li><a href="https://discord.gg/uGJ3CJG3"><img src="assets/images/social-2.svg" alt="" style="width: 50px !important;"></a></li>
                        <li><a href="https://twitter.com/ukrcon"><img src="assets/images/social-3.svg" alt="" style="width: 50px !important;"></a></li>
                    </ul>
                    <p class="copy-rigt"><span class="copy_logo">&copy;</span> 2023 Concordia Consensus</p>
                </div>
            </div>
        </div> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="flex-footer-main">
          <div class="d-flex footLogo">
            <img src="assets/images/flat_logo.png" alt="" srcset="" (click)="topFunction()" />
          </div>
          <ul class="d-flex justify-content-around footLink">
            <li>
              <a href="http://www.facebook.com/"
                ><img
                  src="assets/images/facebook23.png"
                  alt=""
                  style="width: 20px !important"
              /></a>
            </li>
            <li>
              <a href="https://www.instagram.com/"
                ><img
                  src="assets/images/social-1.svg"
                  alt=""
                  style="width: 20px !important"
              /></a>
            </li>
            <li>
              <a href="https://discord.gg/6jHCX2R532" target="_blank"
                ><img
                  src="assets/images/social-2.svg"
                  alt=""
                  style="width: 23px !important"
              /></a>
            </li>
            <li>
              <a href="https://twitter.com/0xConCon"
                ><img
                  src="assets/images/social-3.svg"
                  alt=""
                  style="width: 20px !important"
              /></a>
            </li>
            <li>
              <a href="mailto:info@beautylite.co.uk"
                ><img
                  src="assets/images/mail-icon.png"
                  alt=""
                  style="width: 22px !important"
              /></a>
            </li>
          </ul>
          <ul class="d-flex justify-content-around footLink1">
            <li>
              <a href="https://medium.com/" target="_blank"
                >Blog</a
              >
            </li>
            <li>
              <a
                href="https://ypapty.notion.site/Litepaper-Concordia-Consensus-Protocol-ca285e60718e46ccab51828f44749726?pvs=4"
                target="_blank"
                >White Paper</a
              >
            </li>
            <li>
              <a
                href="https://ypapty.notion.site/UC-Terms-Conditions-9e063a6e08444972a9c28e9ae2001b2f"
                target="_blank"
                >Terms & Conditions</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- <p class="copy-rigt text-center">
      <span class="copy_logo">&copy;</span> 2023 Concordia Consensus
    </p> -->
  </div>
</section>
