<section class="comic-cus">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="comic-content">
                    <h1>THE COMIC</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="comic-left">
                    <img class="comic-left-img" src="{{ data?.comics_path }}" alt="">
                    <p class="comic-left-p">UC COMICS {{data?.id}}</p>
                    <p class="comic-left-p-1">{{data?.title}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="faq-div voteing-section">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <div class="faq-content">
                    <h1 class="forUndrline">Ukraine confidential - comic book series</h1>
                </div>

            </div>
            <div class="col-lg-12">
                <div class="mat-right-p-3 sizing" style="text-align: justify;">
                    <p>Comic book artists ‘X’ & ‘Y’ are collaborating with the Ukraine confidential NFT community and ‘A’ & ‘B’ journalists to bring war related comics to the blockchain with physically backed NFTs.</p>
                    <p [class.show]="!show">The comic books are expected to be printed in Q4 2023 and NFT covers will be also minted to represent ownership of the physical copy, owners will be able to redeem the NFT for the physical comic at any time through the project.
                        Two unique NFT cover collections will feature for readers to enjoy and collect. The series will be written by ‘X’ & ‘Y’ and drawn by ‘X’ & ‘Y’. Who is known for his work in ‘X’ & ‘Y’ and more. A minting entry for the comic books are currently live. The comics will be backed by a decentralized autonomous organization. Each of the UCR NFTs is a figure that has been algorithmically generated and stored on the Ethereum blockchain. One Noun is auctioned every 24 hours and the proceeds go to donations in the conflict (advertised via discord/social media). Since UCRs artwork is in the public domain, anyone can propose projects which utilize the intellectual property. Notable projects include a commercial that ran during the Super Bowl and media articles. Nouns are online tokens, available for anyone to use, with a special voting mechanism that allows any member to propose and vote for what to use the Treasury for. ‘X’ of ‘Y’ commented on the project saying “..."</p>
                </div>
            </div>
        </div>
    </div>
</section>
