<!-----------------------Banner Section-------------------------------->
<section class="banner">
  <div class="container">
        <div class="row pd">
            <div class="col-lg-12">
                <div class="bnner-content">
                    <p>Concordia</p>
                    <p>Consensus</p>
                    <p>Token - <span style="color: #18fe17 !important;">$CON</span></p>
                  <button type="submit" (click)="joinTelegram()">JOIN US</button>
                </div>
            </div>
        </div>
    </div>
</section>


<!-------------------------------ucc token section----------------------------------->
<section class="faq-div UKRC_comm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212">
          <div class="row">
            <div class="col-lg-12 mb-4">
              <div class="faq-content">
                <h1 class="forUndrline">CON Token</h1>
              </div>
            </div>
            <div class="div-col-lg-12">
              <div class="mat-right-p-3 sizing" style="text-align: left;">
                <div>
                  <p>In the wake of global upheaval, we welcome you at the Concordia enclave born from the ashes of a world reshaped 
                    by cataclysmic events. Our token, CON, embodies resilience amidst a transformed landscape where conventional 
                    norms shattered. As the financial edifice crumbled, crypto emerged as the currency of survival, liberating us 
                    from the shackles of defunct central systems.</p>
                  <p>Governments are fading into history, paving the way for decentralized, grassroots-driven societies. 
                    The scars of devastating conflicts, orchestrated by crumbling regimes, echo across Europe, the Middle East, 
                    Central America, and South Eastern Asia. In their wake, a groundswell of disillusionment and revolt emerged, 
                    fostering a yearning for a new order.</p>
                  <p>
                    Amidst this chaos, a beacon of readiness emerged—crypto enthusiasts and preppers who foresaw the storm brewing on the horizon. 
                    Their preparedness, both in digital assets and fortified shelters, became the pillars of survival.
                  </p>
                  <p>
                    Retroactive Public Goods Funding is based on the idea that it’s easier to agree on what *was* useful 
                    in the past than what *might* be useful in the future. The first round of Retro Funding will finance 
                    a series of games, culminating in the production of a documentary film.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!----------------------------------logos strip section--------------------------------------->
<!-- <section class="voteing-section crew-only">
  <div class="container-fluid ofend">
    <div class="row" >
      <div class="col-lg-12 inEnd">
        <div class="voteing-rarity strip">
          <ul>
            <li><img src="assets/images/token/ic-1.png" alt="" /></li>
            <li><img src="assets/images/token/ic-2.png" alt="" /></li>
            <li><img src="assets/images/token/ic-3.png" alt="" /></li>
            <li><img src="assets/images/token/ic-4.png" alt="" /></li>
            <li><img src="assets/images/token/ic-5.png" alt="" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section> -->


<!-------------------------------ukrc community section----------------------------------->
<section class="faq-div UKRC_comm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mb-4">
        <div class="faq-content">
          <h1 class="forUndrline">About Us</h1>
        </div>
      </div>
    </div>
    <div class="row spc">
      <div class="col-lg-6">
        <div class="Ukraine-1212 abtUsCrd">
          <div class="row">
            <div class="col-lg-12 mb-4">
              <div class="faq-content">
                <h1 class="">Our Mission</h1>
              </div>
            </div>
            <div class="div-col-lg-12">
              <div class="mat-right-p-3 sizing" style="text-align: left;">
                <div>
                  <p>Our mission is to lead a decentralized movement, uniting those weary of wars and corrupt 
                    governments with those preparing for change. Our ecosystem fosters collaboration, nurturing 
                    collective wisdom. Embracing individual freedom, we unite to shape our shared destiny, based 
                    on agreements and interest rather than traditional confines of fears and ideologies. Join us 
                    in crafting a new, collaborative future.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="Ukraine-1212 abtUsCrd">
          <div class="row">
            <div class="col-lg-12 mb-4">
              <div class="faq-content">
                <h1 class="">Our Vision</h1>
              </div>
            </div>
            <div class="div-col-lg-12">
              <div class="mat-right-p-3 sizing" style="text-align: left;">
                <div>
                  <p>We envision a future where there are decentralized authorities rulling the order. 
                    A world where individual voices harmonize into a chorus of collective choice. Here, 
                    freedom flourishes, allowing individuals to worship and love without constraint, embracing dialogue 
                    as their guiding principle. Communities thrive and bound not by force but by shared interests, 
                    forging agreements that reflect their collective will. This is a realm of shared understanding, 
                    where differences foster consensus for the orchestre of diverse. 
                    It's a world where the symphony of shared interests orchestrates a harmonious future for all.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212">
          <div class="row">
            <div class="col-lg-12 mb-4">
              <div class="faq-content">
                <h1 class="">Concordia House</h1>
              </div>
            </div>
            <div class="div-col-lg-12">
              <div class="mat-right-p-3 sizing" style="text-align: left;">
                <div>
                  <p>We thrive on the power of community engagement. The Concordia House members participate in both the games 
                    and the creative aspects of the film. The members evaluate the project's progress and the value it has delivered.
                    As the project continues to progress and deliver value, both the Concordia House and Concordia Foundation adjust 
                    the price floor upwards. This adjustment enables further funding rounds by buying back tokens at higher prices. 
                    This ongoing process motivates the team of contributors to persist in developing the project and delivering value.
                    </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

  <!-----------------------------------Roadmap Section------------------------------------------------>

  <!-- <section class="faq-div roadmap-only">
    <div class="container">
      <div class="row ">
        <div class="col-lg-12">
          <div class="faq-content mb-4">
            <h1 class="forUndrline">Token Roadmap</h1>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="column-custom nft_4_mobile">
            <ul>
              <li *ngFor="let road of roadMap">
                <!-- <h5 class="card-title roadmaptittle">{{road.header_title}}</h5> -->
                <!-- <p class="cs-all-p2">Phase {{road.roadNum}}</p>
                <p class="cs-all-p2">{{road.bottom_title}}</p>
                <div class="card roadmapcard">
                  <div class="card-body">
                    <div class="innerRoad mt-4" [innerHTML]="road.description"></div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="column-custom nft_4_web">
            <ul>
              <li *ngFor="let road of roadMap">
                <!-- <h5 class="card-title roadmaptittle">{{road.header_title}}</h5> -->
                <!-- <p class="cs-all-p2">Phase {{road.roadNum}}</p> -->
                    <!-- <p class="cs-all-p2">{{road.bottom_title}}</p> -->
                <!-- <div class="card roadmapcard"> -->
                  <!-- <div class="card-body"> -->
                    <!-- <div class="innerRoad" [innerHTML]="road.description"></div> -->
                  <!-- </div> -->
                <!-- </div>
              </li>
            </ul>
          </div>
        </div>
      </div> -->
    <!-- </div> -->
  
  <!-- </section> -->

<!----------------------------------------Memes Section----------------->
<section class="meme">
  <!-- <div id='stars'></div> -->
<!-- <div id='stars2'></div>
<div id='stars3'></div> -->
    <div class="container">
        <div class="col-lg-12">
            <!-- <img src="assets/images/token/memes32.png" alt="" srcset=""  class="meImg"> -->
            <div class="faq-content mb-4">
              <h1 class="forUndrline">Memes</h1>
            </div>
        </div>
        <div class="tok_content">
          <div class="row mt-5">
            <div class="col-lg-6">
                <div class="img1">
                    <img src="assets/images/token/meme1.JPG" alt="" srcset="" width="100%" class="zoom">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="img2">
                    <img src="assets/images/token/meme2.JPG" alt="" srcset="" class="zoom">
                </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4">
                <div class="img3">
                    <img src="assets/images/token/meme3.png" alt="" srcset="" width="100%" class="zoom">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img4">
                    <img src="assets/images/token/meme4.png" alt="" srcset="" class="zoom">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="img5">
                    <img src="assets/images/token/meme5.JPG" alt="" srcset="" class="zoom">
                </div>
            </div>
          </div>
        </div>
    </div>
  </section>

  <!-------------------------------------QRTC Section------------------------------------>
<!-- <section class="faq-div ">
  <div class="qrtc-1212">
    <div class="col-lg-12">
      <div class="film-content">
        <div class="row">
          <div class="col-lg-6 qtcImg">
            <img src="assets/images/token/about-main-img1.png" alt="" srcset="">
          </div>
          <div class="col-lg-12">
            <div class="col-md-12 p-0">
              <div class="qtc-content">
                <p>About UKRC</p>
                <h1 class="">QUICK TRANSFER COIN 
                  <br>
                  PLUS</h1>
              </div>
            </div>
            <div class="col-md-12 divp p-0">
              <div class="mat-right size">
                <p>UKRC is built on the Etherium smart chain. Which aims to create a decentralised currency platform
                  where users can transfer money using our currency. Our working protocol Etherium Smart Chain P2P has
                  assisted us in developing a network of widely used payment channels as options for your P2P
                  transactions, allowing our users to transfer money around the world quickly and without fear of
                  disruptions, reimbursements, or processing issues.</p>
                <br>
                <p>The block time is the average time it takes for the network to generate one extra block in the
                  blockchain.Some blockchains create a new block as frequently as every five seconds.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!-------------------------------------Supliers Section------------------------------------>
<!-- <section class="Ukraine-confidential">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="qrtc-1212">
          <div class="faq-content">
            <h1 class="">SUPPLIERS</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="qrtc-1212">
          <div class="sup-content">
            <h1 class="">SUPPLIERS</h1>
          </div>
          <p class="sup-p2">It's essential to work with suppliers who have experience in the
            blockchain space and understand the unique requirements of token issuance. This includes factors like
            security, transparency, and compliance with regulatory standards. Regular monitoring and evaluation of
            supplier performance can also help ensure that they continue to meet the needs of the  token issuance.
          </p>
        </div>
        <div class="qrtc-1212">
          <div class="sup-content">
            <h1 class="">PARTNERSHIPS</h1>
          </div>
          <p class="sup-p2">Partnerships can be a valuable way to increase the visibility and adoption of the
            token. These partnerships could help increase the usability and demand for the token, which could drive its
            value up over time. It's important to carefully consider potential partnerships and ensure they align with
            the goals and vision of the token.
          </p>
        </div>
        <div class="qrtc-1212">
          <div class="sup-content">
            <h1 class="">LIQUIDITY</h1>
          </div>
          <p class="sup-p2">With Solidity, you can define the characteristics of your token, such as its name, symbol,
            and the number of tokens in circulation. Additionally, Solidity is a highly optimized language that allows
            you to write efficient and gas-friendly smart contracts, which can result in lower transaction fees for
            token.
          </p>
        </div>
      </div>
      <div class="col-lg-6 spImg">
        <img src="assets/images/token/SUPPLIERS.png" alt="" srcset="" width="100%">
      </div>
    </div>
  </div>
</section> -->

<!-----------------------tockcomic Section-------------------------------->
<!-- <section class="tokcomic p-5">
  <div id='stars'></div>
<div id='stars2'></div>
<div id='stars3'></div>
  <div class="container">
    <div class="row">
      <div class="tock_content">
        <div class="wow slideInLeft" data-wow-duration="2s" data-wow-delay="1s">
          <img src="assets/images/token/m1.png" alt="" srcset="" class="m1">
        </div>
        <div class="row tkImg">
          <img src="assets/images/token/tokenomics32.png" alt="" srcset="" width="100%">
        </div>
        <div class="wow slideInLeft nt2" data-wow-duration="2s" data-wow-delay="1s">
          <img src="assets/images/token/m4.png" alt="" srcset="" class="m4">
        </div>
        <div class="row tlSpl">
          <h1>Total Supply</h1>
        </div>
        <div class="row prce">
          <h1>10,000,000,000</h1>
        </div>
        <div class="row">
          <div class="col-sm-12 tk_content">
            <button type="submit" (click)="pop()">BUY NOW</button>
          </div>
          <div class="wow slideInLeft nt4" data-wow-duration="2s" data-wow-delay="1s">
            <img src="assets/images/token/m3.png" alt="" srcset="" class="m1">
          </div>
        </div>
        <div class="row pl-5 pr-5">
          <div class="col-md-6">
            <div class="buy p-5">
              <h3>Buy Tax | 0%</h3>
              <p>use low slippage</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="sell p-5">
              <h3>Sell Tax | 0%</h3>
              <p>use low slippage</p>
            </div>
          </div>
        </div>
        <div class="wow slideInLeft nt3" data-wow-duration="2s" data-wow-delay="1s">
          <img src="assets/images/token/m5.png" alt="" srcset="" class="m4">
        </div>
      </div>
    </div>
  </div>
  <img src="assets/images/token/tokcomic.png" alt="" srcset="" width="100%">
  <div class="tok_content">
    <button type="submit" (click)="pop()">BUY NOW</button>
  </div>
</section> -->

<!-------------------------------------Tokenomics Section------------------------------------>
<!-- <section class="toknomic">
  <div class="container">
    <div class="row p5">
      <div class="col-lg-6">
        <div class="toc-1212">
          <div class="toc-content">
            <h1 class="">TOKENOMICS</h1>
          </div>
          <p class="toc-p2"><b>No Taxes, No Honeypot, No rugs. Just vibes.</b>
          </p><br>
          <p class="toc-p2">
            We believe every good meme coin deserves a dope PFP. UKRC NFT have supported the UC Community since its
            inception so we decided to allocate 6.9% of the token supply to UKRC NFT holders. These tokens will be
            unlocked as we reach the following milestones.
          </p>
          <p class="liqy"><button type="submit" (click)="pop()">LIQUIDITY LOCK</button></p>
          <p class="monk"><button type="submit" (click)="pop()">BUY UKRC NFTS</button></p>
        </div>
      </div>
      <div class="col-lg-6 toc_Img">
        <img src="assets/images/token/MONGTokenomics.png" alt="" srcset="" width="100%">
      </div>
    </div>
   
    <div class="row">
        <div class="col-lg-12">
          <div class="toc-1212">
            <div class="nft-content">
              <h1 class="">NFT REWARDS</h1>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3">
          <div class="qrtc-1212">
            <div class="rew-content">
              <h1 class="">1%</h1>
            </div>
            <p class="rew-p2">LAUNCH
            </p>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="qrtc-1212">
              <div class="rew-content">
                <h1 class="">.5%</h1>
              </div>
              <p class="rew-p2">100K UC UNLOCK
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="qrtc-1212">
              <div class="rew-content">
                <h1 class="">.5%</h1>
              </div>
              <p class="rew-p2">1M UC UNLOCK
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="qrtc-1212">
              <div class="rew-content">
                <h1 class="">.5%</h1>
              </div>
              <p class="rew-p2">100M UC UNLOCK
              </p>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-lg-3">
          <div class="qrtc-1212">
            <div class="rew-content">
              <h1 class="">.5%</h1>
            </div>
            <p class="rew-p2">100M UC UNLOCK
            </p>
          </div>
        </div>
        <div class="col-lg-3">
            <div class="qrtc-1212">
              <div class="rew-content">
                <h1 class="">.5%</h1>
              </div>
              <p class="rew-p2">500M UC UNLOCK
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="qrtc-1212">
              <div class="rew-content">
                <h1 class="">.5%</h1>
              </div>
              <p class="rew-p2">1B UC UNLOCK
              </p>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="qrtc-1212">
              <div class="rew-content">
                <h1 class="">2.9%</h1>
              </div>
              <p class="rew-p2">UKRC
              </p>
            </div>
          </div>
      </div>
  </div>
</section> -->
