<!--------------------bonus packs section------------------------------>
<section class="faq-div bns_pck nft_4_web">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212 BONUS-PACKS">
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-content bns-pks">
                <h1 class="forUndrline">Bonus Packs</h1>
              </div>
              <div class="content-faq-new">
                <p class="text-white text-center">
                  To qualify for the following Bonus Packs,<br />
                  purchase a certain number of NFTs. Each <br />
                  Bonus Pack comes with additional bonuses
                </p>
              </div>
            </div>
            <div class="div-col-lg-12">
              <div class="row">
                <div class="col-lg-3 bns-dt">
                  <div class="d-flex justcenter" style="margin-left: 100px;" >
                    <img src="assets/images/bonus-1.png" alt="" width="60px" />
                  </div>
                  <h6>UKRC 1</h6>
                  <ol>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p><span>01</span> Access to the documentary film</p>
                    </li>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p><span>02</span> Access to the comic book series</p>
                    </li>
                  </ol>
                </div>
                <div class="col-lg-3 bns-dt">
                  <div class="d-flex justcenter" style="margin-left: 100px;" >
                    <img src="assets/images/bonus-2.png" alt="" width="60px" />
                  </div>
                  <h6>UKRC 25 Pack</h6>
                  <ol>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p><span>01</span>All items from previous pack</p>
                    </li>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p><span>02</span>Receive Concept Posters</p>
                    </li>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p><span>03</span>Receive UKRC T-shirt</p>
                    </li>
                  </ol>
                </div>
                <div class="col-lg-3 bns-dt">
                  <div class="d-flex justcenter" style="margin-left: 100px;" >
                    <img src="assets/images/bonus-3.png" alt="" width="60px" />
                  </div>
                  <h6>UKRC 50 Pack</h6>
                  <ol>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p><span>01</span>All items from previous pack</p>
                    </li>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p>
                        <span>02</span>Receive an opportunity to be interviewed
                        in the film
                      </p>
                    </li>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p>
                        <span>03</span>Receive an invitation to attend a RED
                        CARPET PREMIER SCREENING
                      </p>
                    </li>
                  </ol>
                </div>
                <div class="col-lg-3 bns-dt">
                  <div class="d-flex justcenter" style="margin-left: 100px;" >
                    <img src="assets/images/bonus-4.png" alt="" width="60px" />
                  </div>
                  <h6>UKRC 100 Pack</h6>
                  <ol>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p><span>01</span>All items from previous pack</p>
                    </li>
                    <li data-aos="slide-up" data-aos-delay="1000" data-aos-duration="2000">
                      <p>
                        <span>02</span>Become a member of the UKRC 
                        INVESTMENT CLUB!
                      </p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--------------------bonus packs section for mobile------------------------------>
<section class="faq-div bns_pck nft_4_mobile">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212 BONUS-PACKS">
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-content bns-pks">
                <h1 class="forUndrline">Bonus Packs</h1>
              </div>
              <div class="content-faq-new">
                <p class="text-white text-center">
                  To qualify for the following Bonus Packs,<br />
                  purchase a certain number of NFTs. Each <br />
                  Bonus Pack comes with additional bonuses
                </p>
              </div>
            </div>
            <div class="div-col-lg-12">
              <div class="row">
                <div class="col-lg-3 bns-dt">
                  <div class="d-flex justcenter">
                    <img src="assets/images/bonus-1.png" alt="" width="60px" />
                  </div>
                  <h6>UKRC 1</h6>
                  <ol>
                    <li>
                      <p><span>01</span> Access to the documentary film</p>
                    </li>
                    <li>
                      <p><span>02</span> Access to the comic book series</p>
                    </li>
                  </ol>
                </div>
                <div class="col-lg-3 bns-dt">
                  <div class="d-flex justcenter">
                    <img src="assets/images/bonus-2.png" alt="" width="60px" />
                  </div>
                  <h6>UKRC 25 Pack</h6>
                  <ol>
                    <li>
                      <p><span>01</span>All items from previous pack</p>
                    </li>
                    <li>
                      <p><span>02</span>Receive Concept Posters</p>
                    </li>
                    <li>
                      <p><span>03</span>Receive UKRC T-shirt</p>
                    </li>
                  </ol>
                </div>
                <div class="col-lg-3 bns-dt">
                  <div class="d-flex justcenter">
                    <img src="assets/images/bonus-3.png" alt="" width="60px" />
                  </div>
                  <h6>UKRC 50 Pack</h6>
                  <ol>
                    <li>
                      <p><span>01</span>All items from previous pack</p>
                    </li>
                    <li>
                      <p>
                        <span>02</span>Receive an opportunity to be interviewed
                        in the film
                      </p>
                    </li>
                    <li>
                      <p>
                        <span>03</span>Receive an invitation to attend a RED
                        CARPET PREMIER SCREENING
                      </p>
                    </li>
                  </ol>
                </div>
                <div class="col-lg-3 bns-dt">
                  <div class="d-flex justcenter">
                    <img src="assets/images/bonus-4.png" alt="" width="60px" />
                  </div>
                  <h6>UKRC 100 Pack</h6>
                  <ol>
                    <li>
                      <p><span>01</span>All items from previous pack</p>
                    </li>
                    <li>
                      <p>
                        <span>02</span>Become a member of the UKRC 
                        INVESTMENT CLUB!
                      </p>
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--------------------buy 50 section------------------------------>
<section class="faq-div UKRC-NFT" >
  <div class="container">
    <!-- <img src="assets/images/bk2.png" alt="" srcset="" class="bkImg"> -->
    <div class="row">
      <div class="col-lg-12">
        <div class="faq-content p-4">
          <h1 class="forUndrline">Buy 50 UKRC NFTs</h1>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="Ukraine-1212 bkImg">
          <div class="row">
            <div class="buy-ukrc">
              <div class="mat-right size">
                <p data-aos="fade-right">
                  You are guaranteed an opportunity to be <u>INTERVIEWED</u> for
                  the documentary film, as well as an invitation to one of the
                  <u>RED CARPET SCEENINGS!</u>
                </p>
                <p data-aos="fade-left">
                  In addition, an in-person dinner with the filming and comic
                  creators crew! <u>AND</u> the investment club provides access
                  to exclusive information, investments, and funds that are not
                  available to the general public.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--------------------ukrc benefits section------------------------------>
<section class="faq-div UKRC_benft d-none">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212">
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-content">
                <h1 class="forUndrline">UKRC Benefits</h1>
              </div>
            </div>
            <div class="benefit-content">
              <div class="row w-100">
                <div class="col-lg-4 bns-dt">
                  <div class="card bft-card" data-aos="fade-in" data-aos-delay="1000" data-aos-duration="2000">
                    <div class="card-body">
                      <p>
                        <span class="dot-c"></span> Early access to the film & comic
                      </p>
                    </div>
                  </div>
                  <div class="card bft-card"  data-aos="fade-in" data-aos-delay="2500" data-aos-duration="2000">
                    <div class="card-body">
                  <p>
                    <span class="dot-c"></span> Vote and influence the project
                    direction
                  </p>
                  </div></div>
                </div>
                <div class="col-lg-4 bns-dt" data-aos-delay="1500" data-aos-duration="2000">
                  <div class="card bft-card"  data-aos="fade-in" data-aos-delay="1500" data-aos-duration="2000">
                    <div class="card-body">
                  <p>
                    <span class="dot-c"></span> Participation in events and
                    promotions
                  </p>
                  </div></div>
                  <div class="card bft-card">
                    <div class="card-body">
                  <p data-aos="fade-in" data-aos-delay="2000" data-aos-duration="2000">
                    <span class="dot-c"></span> IP ownership
                  </p>
                  </div></div>
                </div>
                <div class="col-lg-4 bns-dt" data-aos-delay="2000" data-aos-duration="2000">
                  <div class="card bft-card">
                    <div class="card-body">
                  <p data-aos="fade-in">
                    <span class="dot-c"></span> Revenue from the film streaming
                  </p>
                  </div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--------------------ukrc benefits section for mobile------------------------------>
<section class="faq-div UKRC_benft ">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212">
          <div class="row">
            <div class="col-lg-12">
              <div class="faq-content">
                <h1 class="forUndrline">UKRC Benefits</h1>
              </div>
            </div>
            <div class="benefit-content">
              <div class="row w-100">
                <div class="col-lg-4 bns-dt">
                  <div class="card bft-card">
                    <div class="card-body">
                      <p>
                        <span class="dot-c"></span> Early access to the film & comic
                      </p>
                    </div>
                  </div>
                  <div class="card bft-card">
                    <div class="card-body">
                  <p>
                    <span class="dot-c"></span> Vote and influence the project
                    direction
                  </p>
                  </div></div>
                </div>
                <div class="col-lg-4 bns-dt">
                  <div class="card bft-card">
                    <div class="card-body">
                  <p>
                    <span class="dot-c"></span> Participation in events and
                    promotions
                  </p>
                  </div></div>
                  <div class="card bft-card">
                    <div class="card-body">
                  <p>
                    <span class="dot-c"></span> IP ownership
                  </p>
                  </div></div>
                </div>
                <div class="col-lg-4 bns-dt">
                  <div class="card bft-card">
                    <div class="card-body">
                  <p>
                    <span class="dot-c"></span> Revenue from the film streaming
                  </p>
                  </div></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-------------------------------film prod. section----------------------------->
<section class="faq-div film_prod nft_4_web">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212">
          <div class="row">
            <div class="col-lg-12">
              <div class="film-content">
                <div class="row">
                  <div class="col-lg-5 isSmart_mob">
                    <img
                      src="assets/images/pexels-david-peterson.jpg"
                      alt=""
                      srcset=""
                    />
                  </div>
                  <div class="col-lg-7">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="hnd">
                          <div class="faq-content">
                            <h1 class="forUndrline">Film Productions</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div-col-lg-12 divp">
                      <div class="mat-right size">
                        <p style="text-align: left;">
                          You will work closely with the filming crew, and have
                          the opportunity to vote on and influence the direction
                          of the documentary film including the filming
                          locations, interviewees, and subplots. Additionally,
                          you will be involved in the day-to-day activities and
                          creative aspects at all stages of the production.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 isSmart_web">
                    <img
                      src="assets/images/pexels-david-peterson.jpg"
                      alt=""
                      srcset=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-------------------------------comic book section----------------------------->
<section class="faq-div comic_book nft_4_web">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212">
          <div class="row">
            <div class="col-lg-12">
              <div class="comicc-content">
                <div class="row">
                  <div class="col-lg-5">
                    <img src="assets/images/1.jpg" alt="" srcset="" />
                  </div>
                  <div class="col-lg-7">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="hnd">
                          <div class="faq-content">
                            <h1 class="forUndrline">Comic books</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div-col-lg-12 divp">
                      <div class="mat-right size">
                        <p>
                          You'll be able to see early artwork and follow the
                          comic book production process. Through your ability to
                          vote, you can participate in the production process by
                          providing input on storyline direction, character
                          design, and art.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-------------------------------event promo section----------------------------->
<section class="faq-div evnt_promo nft_4_web">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212">
          <div class="row">
            <div class="col-lg-12">
              <div class="film-content">
                <div class="row">
                  <div class="col-lg-5 isSmart_mob">
                    <img
                      src="assets/images/guy_photo_red_carper_2.png"
                      alt=""
                      srcset=""
                    />
                  </div>
                  <div class="col-lg-7">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="hnd">
                          <div class="faq-content">
                            <h1 class="forUndrline">Events & Promotions</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div-col-lg-12 divp">
                      <div class="mat-right size">
                        <p>
                          As a member, you'll get exclusive invites to events
                          and promotions, along with early access to our
                          merchandise.
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-5 isSmart_web">
                    <img
                      src="assets/images/guy_photo_red_carper_2.png"
                      alt=""
                      srcset=""
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-------------------------------film review section----------------------------->
<section class="faq-div film_strem nft_4_web">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="Ukraine-1212">
          <div class="row">
            <div class="col-lg-12">
              <div class="comicc-content">
                <div class="row">
                  <div class="col-lg-5">
                    <img src="assets/images/1961.jpg" alt="" srcset="" />
                  </div>
                  <div class="col-lg-7">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="hnd">
                          <div class="faq-content">
                            <h1 class="forUndrline">Film streaming Revenue</h1>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="div-col-lg-12 divp">
                      <div class="mat-right size">
                        <p>
                          Holders of NFTs will own the intellectual property for
                          the film and be entitled to participate in the profits
                          generated by streaming the documentary.
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="nft_4_mobile">
  <ngb-carousel data-interval="false" [interval]="0">
    <ng-template ngbSlide>
        <div class="cat-custom-slider">
          <section class="faq-div film_prod">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="Ukraine-1212">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="film-content">
                          <div class="row">
                            <div class="col-lg-5 isSmart_mob">
                              <img
                                src="assets/images/pexels-david-peterson.jpg"
                                alt=""
                                srcset=""
                              />
                            </div>
                            <div class="col-lg-7">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="hnd">
                                    <div class="faq-content">
                                      <h1 class="forUndrline">Film Productions</h1>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="div-col-lg-12 divp">
                                <div class="mat-right size">
                                  <p>
                                    You will work closely with the filming crew, and have
                                    the opportunity to vote on and influence the direction
                                    of the documentary film including the filming
                                    locations, interviewees, and subplots. Additionally,
                                    you will be involved in the day-to-day activities and
                                    creative aspects at all stages of the production.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-5 isSmart_web">
                              <img
                                src="assets/images/pexels-david-peterson.jpg"
                                alt=""
                                srcset=""
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="cat-custom-slider">
          <section class="faq-div comic_book">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="Ukraine-1212">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="comicc-content">
                          <div class="row">
                            <div class="col-lg-5">
                              <img src="assets/images/1.jpg" alt="" srcset="" />
                            </div>
                            <div class="col-lg-7">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="hnd">
                                    <div class="faq-content">
                                      <h1 class="forUndrline">Comic books</h1>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="div-col-lg-12 divp">
                                <div class="mat-right size">
                                  <p>
                                    You'll be able to see early artwork and follow the
                                    comic book production process. Through your ability to
                                    vote, you can participate in the production process by
                                    providing input on storyline direction, character
                                    design, and art.
                                  </p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="cat-custom-slider">
          <section class="faq-div evnt_promo">
            <div class="container">
              <div class="row">
                <div class="col-lg-12">
                  <div class="Ukraine-1212">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="film-content">
                          <div class="row">
                            <div class="col-lg-5 isSmart_mob">
                              <img
                                src="assets/images/guy_photo_red_carper_2.png"
                                alt=""
                                srcset=""
                              />
                            </div>
                            <div class="col-lg-7">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="hnd">
                                    <div class="faq-content">
                                      <h1 class="forUndrline">Events & Promotions</h1>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="div-col-lg-12 divp">
                                <div class="mat-right size">
                                  <p>
                                    As a member, you'll get exclusive invites to events
                                    and promotions, along with early access to our
                                    merchandise.
                                  </p>
                                </div>
                              </div>
                            </div>
                            <div class="col-lg-5 isSmart_web">
                              <img
                                src="assets/images/guy_photo_red_carper_2.png"
                                alt=""
                                srcset=""
                              />
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="cat-custom-slider">
        <section class="faq-div film_strem">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="Ukraine-1212">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="comicc-content">
                        <div class="row">
                          <div class="col-lg-5">
                            <img src="assets/images/1961.jpg" alt="" srcset="" />
                          </div>
                          <div class="col-lg-7">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="hnd">
                                  <div class="faq-content">
                                    <h1 class="forUndrline">Film streaming Revenue</h1>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="div-col-lg-12 divp">
                              <div class="mat-right size">
                                <p>
                                  Holders of NFTs will own the intellectual property for
                                  the film and be entitled to participate in the profits
                                  generated by streaming the documentary.
                                </p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
  </ng-template>
</ngb-carousel>
</section>